.hiddenThemeSelector {
    margin-bottom: -31px;
}

.hiddenThemeSelector .switcherContainer ::after{
    transform: rotate(-180deg);
}

.allThemeComponent{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.5s;
}

.switcherContainer{
    width: 49px;
    height: 25px;
    border-radius: 11px;
    background: var(--secondaryColor);
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.switcherContainer ::after{
    content: '';
    width: 0;
    height: 0;
    left: 18px;
    top: 2px;
    position:absolute;
    z-index: 4;
    border-bottom: 7px solid black;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    transition-duration: 0.5s;
}

#selectedSwitchTheme{
    background-color: var(--primaryColor);
    border-color: var(--backgroundColor);
    margin-left: 8px;
}

.elipse{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 2px solid;
    position: relative;
    margin-top: 4px;
}

.themeSelectorContainer{
    margin-bottom: 8px;
    width: 726px;
    height: 23px;
    border-radius: 11px;
    background: var(--secondaryColor);
    display: flex;
    justify-content: space-evenly;
}

.themeSelector{
    cursor:pointer;
}